asgiref==3.11.1
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.17.1
pillow==12.1.1
sqlparse==0.5.5
tzdata==2025.3
pysnmp-lextudio
psycopg[binary]>=3.2,<4.0
gunicorn>=23.0,<24.0
whitenoise>=6.7,<7.0
