asgiref==3.11.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
coverage==7.13.5
cryptography==47.0.0
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.17.1
gunicorn==23.0.0
idna==3.13
iniconfig==2.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.2
pillow==12.1.1
pluggy==1.6.0
ply==3.11
podman-compose==1.5.0
psycopg==3.3.3
psycopg-binary==3.3.3
pyasn1==0.6.0
pycparser==3.0
Pygments==2.20.0
pysmi-lextudio==1.4.3
pysnmp-lextudio==6.3.0
pysnmpcrypto==0.0.4
pytest==9.0.3
pytest-cov==4.1.0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.33.1
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.12.0
